body button {
  outline: none;
}

/* ヘッダー */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #ced4da;
  background-color: #fff;
  padding-left: 10px;
}

header h1 {
  line-height: 60px;
  font-size: 20px;
  margin: 0
}

/* メイン */

main {
  height: 100vh;
  background-color: #f8f9fa;
  padding-top: 60px;
  overflow-y: scroll;
}

main .container {
  display: flex;
  flex-wrap: wrap;
}

main .todo-card {
  border: 1px solid #ced4da;
  background-color: #fff;
  width: 300px;
  height: 300px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

main .todo-card textarea {
  border: 1px solid #dee2e6;
  outline: none;
  width: 280px;
  height: 230px;
  margin: 0 auto;
  resize: none;
  padding: 10px;
  margin-bottom: 10px;
}

main .todo-card textarea:focus {
  border: 1px solid #339af0;
  color: #212529;
}

main .todo-card button {
  width: 22px;
  height: 22px;
  color: #343a40;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-bottom: 10px;
}

main .todo-card button:hover {
  font-weight: bold;
}

main .todo-card span {
  color: #868e96;
  font-weight: bold;
  font-size: 15px;
}

/* ボタン */

.add-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-bottom: 8px;
  font-weight: bold;
  font-size: 30px;
  background-color: #343a40;
  color: #fff;
  transition: 0.1s;
  cursor: pointer;
}

.add-button:hover {
  border: 1px solid #ced4da;
  background-color: #fff;
  color: #343a40;
}
